services:
  backend:
    build: .
    container_name: product-api
    ports:
      - "3001:3001"
    env_file:
      - .env
    volumes:
      - ./prisma:/app/prisma
      - ./assets:/app/assets
    restart: always
